
<div class="navbar navbar-default" x-style="margin-top: 1em; margin-bottom: 1em;">
	<div class="container">
		<div class="col-md-4" style="padding: 0 10px 0 0; margin-top: 8px; margin-bottom: 8px;">
			<input type="text" placeholder="Filter" autocomplete="off" autofocus="autofocus" class="form-control" data-ng-model="searchText"/>
		</div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="pull-left" id="statusDropDown">Status:</span>
					<span class="pull-left" style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
						<span style="padding-left: 0.5em;" data-ng-show="isStatusFilter('all')">All</span>
						<span style="padding-left: 0.5em;" data-ng-repeat="status in statusList" data-ng-show="isStatusFilter(status.key)">{{ status.label }}</span>
					</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="statusDropDown">
					<li data-ng-class="{ active: isStatusFilter('all') }"><a role="menuitem" tabindex="-1" href="?statusFilter=all" data-ng-click="setStatusFilter('all'); $event.preventDefault();">All</a></li>
					<li class="divider"></li>
					<li data-ng-repeat="status in statusList" data-ng-class="{ active: isStatusFilter(status.key) }"><a role="menuitem" tabindex="-1" xhref="?statusFilter={{ status.key }}" data-ng-click="setStatusFilter(status.key); $event.preventDefault();">{{ status.label }}</a></li>
				</ul>
			</li>
            <div class="nav navbar-nav" style="padding: 0 10px 0 0; margin-top: 8px; margin-bottom: 8px;">
                <a type="button" href="/bookings/add" id="addUserButton" class="btn btn-default">Add booking</a>
            </div>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			
		</ul>
	</div>
</div>

<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-2">
					<a data-ng-click="order('booking_date')" style="cursor: pointer;">Booking Date</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('booking_date', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('booking_date', true)"></span>
				</th>
				<th class="col-md-6">
					<a data-ng-click="order('description')" style="cursor: pointer;">Description</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('description', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('description', true)"></span>
				</th>
				<th class="col-md-6">
					<a data-ng-click="order('creditor')" style="cursor: pointer;">Creditor(s)</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('creditor', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('creditor', true)"></span>
				</th>
				<th class="col-md-2 text-center">
					<a data-ng-click="order('amount.value')" style="cursor: pointer;">Amount</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('amount.value', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('amount.value', true)"></span>
				</th>
				<th class="col-md-2 text-center">
					<a data-ng-click="order('tags')" style="cursor: pointer;">Tags</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('tags', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('tags', true)"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="booking in bookings | orderBy:orderBy:reverseOrder | filter:searchText | filter:statusFilter"
				data-ng-click="booking.selected = !!!booking.selected"
				data-ng-class="{ info: booking.selected }" class="repeated-item">
				<td class="text-center" style="vertical-align: middle;">
					<span>{{ booking.booking_date | date:'dd.MM.yyyy' }}</span>
				</td>
				<td style="vertical-align: middle;">
					<a href="/bookings/{{booking._id}}" title="{{ booking.description }}">{{ booking.description }}</a>
				</td>
				<td style="vertical-align: middle;">
					<span data-ng-repeat="creditor in booking.creditors">{{ creditor.by.full_name }}</span>
				</td>
				<td class="text-right" style="vertical-align: middle;">
					<span style="white-space: nowrap;">{{ ( getTotalAmount(booking) * 0.01).toFixed(2) }} EUR</span>
				</td>
				<td class="text-center" style="vertical-align: middle;">
					<span class="tag" data-ng-repeat="tag in booking.tags">{{ tag }}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
		
	</div>
</nav>
