<div class="container">
	<div class="row">
		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Booking</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="booking.booking_date" class="col-sm-3 control-label">Booking Date</label>
							<div class="col-sm-9">
								<datepicker class="" ng-model="booking.booking_date" starting-day="1" />
							</div>
							<label for="booking.description" class="col-sm-3 control-label">Description</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="booking.description" data-ng-model="booking.description">
							</div>
							<label for="booking.tags" class="col-sm-3 control-label">Tags</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="booking.tags" data-ng-model="booking.tags" ng-list>
							</div>
							<label for="booking.creditors" class="col-sm-3 control-label">Creditors</label>
							<div class="col-sm-9">
								<label ng-repeat="user in users">
									{{ user.display_name }}: <input ng-model="creditors[user._id].value"> {{ creditors[user._id].currency }}
								</label>
							</div>
							<label for="booking.debtors" class="col-sm-3 control-label">Debtors</label>
							<div class="col-sm-9">
								<label ng-repeat="user in users">
									<input type="checkbox" name="selectedDebtors[]" value="{{user._id}}" ng-checked="booking.debtors.indexOf(user._id) > -1" ng-click="toggleDebtorSelection(user._id)"> {{user.display_name}}
								</label>
							</div>
						</div>
						<hr/>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button data-ng-show="mode === 'edit'" type="submit" ng-click="update()" class="btn btn-danger">Modify booking</button>
								<button data-ng-show="mode === 'add'" type="submit" ng-click="update()" class="btn btn-danger">Add booking</button>
								<button type="reset" ng-click="reset()" class="btn btn-default">Dischard changes</button>
								<button data-ng-show="mode === 'edit'" ng-click="addAnotherBooking()" class="btn">Add another booking</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Booking</h3>
				</div>
				<div class="panel-body">
					<div data-ng-show="booking._id">ID: {{ booking._id }}</div>
					<div data-ng-show="booking.group">Group ID: {{ booking.group }}</div>
					<div data-ng-show="booking.booking_date">Booking date: <time datetime="{{ booking.booking_date }}">{{ booking.booking_date | amDateFormat:'DD.MM.YYYY' }}</time></div>
					<div data-ng-show="booking.description">Description: {{ booking.description }}</div>
					<div data-ng-show="booking.tags">Tags:
						<span data-ng-repeat="tag in booking.tags" class="tag">{{ tag }}</span>
					</div>
					<div>Creditors:
						<ul>
							<li data-ng-repeat="creditor_id in booking.creditors.by">{{ getUserById(debtor_id).display_name }}</li>
						</ul>
					</div>
					<div>Debtors:
						<ul>
							<li data-ng-repeat="debtor_id in booking.debtors">{{ getUserById(debtor_id).display_name }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>