
<div class="navbar navbar-default" x-style="margin-top: 1em; margin-bottom: 1em;">

	<div class="container">
		<div class="col-md-4" style="padding: 0 10px 0 0; margin-top: 8px; margin-bottom: 8px;">
			<h1 class="h2" style="color: gray; margin: 0; padding: 0;">Dashboard</h1>
		</div>
	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Bookings</h3>
				</div>
				<div class="panel-body">
					<p>
						<strong>Today / Last 7 days / Last 30 days</strong>
					</p>
				</div>
			</div>

		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Total Balance</h3>
				</div>
				<div class="panel-body">
					<p><span>{{ totalBalance.toFixed(2) }}</span> EUR</p>
				</div>
			</div>
		</div>
	</div>
</div>