
<div class="navbar navbar-default" x-style="margin-top: 1em; margin-bottom: 1em;">
	<div class="container">

	</div>
</div>
<div class="container">
	<div class="btn-group" dropdown is-open="status.isopen">
	<datepicker ng-model="month" min-mode="month" datepicker-mode="'month'" data-ng-change="rangeChanged()" />
	<h2>Expenses</h2>
	<table class="reportTable">
		<tr data-ng-repeat-start="(userId, userExpenses) in expenses">
		<tr data-ng-repeat-end data-ng-repeat="(tag, userExpenseForTag) in userExpenses">
			<th>{{ getUserById(userId).display_name }}</th>
			<th>{{ tag }}</th>
			<td>{{ (userExpenseForTag * 0.01).toFixed(2) }} EUR</td>
		</tr>
		<tr data-ng-repeat="(tag, sum) in expensesCheckSumsPerTag()">
			<th>All</th>
			<th>{{ tag }}</th>
			<td>{{ (sum * 0.01).toFixed(2) }} EUR</td>
		</tr>
	</table>
	
	<h2>Shares</h2>
	<table class="reportTable">
		<tr data-ng-repeat-start="(userId, userShares) in shares">
		<tr data-ng-repeat-end data-ng-repeat="(tag, userSharesForTag) in userShares">
			<th>{{ getUserById(userId).display_name }}</th>
			<th>{{ tag }}</th>
			<td>{{ (userSharesForTag * 0.01).toFixed(2) }} EUR</td>
		</tr>
		<tr data-ng-repeat="(tag, sum) in sharesCheckSumsPerTag()">
			<th>All</th>
			<th>{{ tag }}</th>
			<td>{{ (sum * 0.01).toFixed(2) }} EUR</td>
		</tr>
	</table>
	
	<h2>Balances</h2>
	<table class="reportTable">
		<tr data-ng-repeat-start="(userId, userBalances) in balances">
		<tr data-ng-repeat-end data-ng-repeat="(tag, userBalanceForTag) in userBalances">
			<th>{{ getUserById(userId).display_name }}</th>
			<th>{{ tag }}</th>
			<td>{{ (userBalanceForTag * 0.01).toFixed(2) }} EUR</td>
		</tr>
	</table>
</div>