<div class="container">
	<div class="row">
		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Settlement</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="booking.booking_date" class="col-sm-3 control-label">Settlement Date</label>
							<div class="col-sm-9">
								<datepicker class="" ng-model="settlement.booking_date" starting-day="1" />
							</div>
							<label for="booking.booking_date" class="col-sm-3 control-label">Month</label>
							<div class="col-sm-9">
								<datepicker datepicker-mode="'month'" min-mode="month" max-mode="month" class="" ng-model="settlement_month" data-ng-click="month_changed()" />
							</div>
							<label for="booking.debtors" class="col-sm-3 control-label">Settle with</label>
							<div class="col-sm-9">
								<label ng-repeat="user in users">
									<input type="checkbox" name="selectedUsers[]" value="{{user._id}}" ng-checked="true"> {{user.display_name}}
								</label>
							</div>
						</div>
						<hr/>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" ng-click="add()" class="btn btn-danger">Add settlement</button>
								<button type="reset" ng-click="reset()" class="btn btn-default">Dischard changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Amount</h3>
				</div>
				<div class="panel-body">
					<div>{{ amount / 100 | number:2 }} EUR</div>
				</div>
			</div>
		</div>
</div>