
<div class="navbar navbar-default" x-style="margin-top: 1em; margin-bottom: 1em;">
	<div class="container">
		<div class="col-md-4" style="padding: 0 10px 0 0; margin-top: 8px; margin-bottom: 8px;">
			<input type="text" placeholder="Filter" autocomplete="off" autofocus="autofocus" class="form-control" data-ng-model="searchText"/>
		</div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="pull-left" id="statusDropDown">Status:</span>
					<span class="pull-left" style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
						<span style="padding-left: 0.5em;" data-ng-show="isStatusFilter('all')">All</span>
						<span style="padding-left: 0.5em;" data-ng-repeat="status in statusList" data-ng-show="isStatusFilter(status.key)">{{ status.label }}</span>
					</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="statusDropDown">
					<li data-ng-class="{ active: isStatusFilter('all') }"><a role="menuitem" tabindex="-1" href="?statusFilter=all" data-ng-click="setStatusFilter('all'); $event.preventDefault();">All</a></li>
					<li class="divider"></li>
					<li data-ng-repeat="status in statusList" data-ng-class="{ active: isStatusFilter(status.key) }"><a role="menuitem" tabindex="-1" xhref="?statusFilter={{ status.key }}" data-ng-click="setStatusFilter(status.key); $event.preventDefault();">{{ status.label }}</a></li>
				</ul>
			</li>
            <div class="nav navbar-nav" style="padding: 0 10px 0 0; margin-top: 8px; margin-bottom: 8px;">
                <a type="button" href="/settlements/add" id="addUserButton" class="btn btn-default">Add settlement</a>
            </div>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			
		</ul>
	</div>
</div>

<div class="container" style="padding-top: 20px; padding-bottom: 70px;">
	<table class="table table-hover">
		<thead>
			<tr>
                <th class="col-md-1">
					<a data-ng-click="order('settlement_month')" style="cursor: pointer;">Month</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('settlement_month', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('settlement_month', true)"></span>
				</th>
                <th class="col-md-6">
					<a data-ng-click="order('between')" style="cursor: pointer;">Between</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('between', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('between', true)"></span>
				</th>
				<th class="col-md-2">
					<a data-ng-click="order('booking_date')" style="cursor: pointer;">Settlement Date</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('booking_date', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('booking_date', true)"></span>
				</th>
				<th class="col-md-3">
					<a data-ng-click="order('amount')" style="cursor: pointer;">Balance Amount</a>
					<span class="glyphicon glyphicon-sort-by-attributes" data-ng-show="isOrder('amount', false)"></span>
					<span class="glyphicon glyphicon-sort-by-attributes-alt" data-ng-show="isOrder('amount', true)"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="settlement in settlements | orderBy:orderBy:reverseOrder | filter:searchText | filter:statusFilter"
				data-ng-click="settlement.selected = !!!settlement.selected"
				data-ng-class="{ info: settlement.selected }" class="repeated-item">
                
                <td class="text-center" style="vertical-align: middle;">
					<span>{{ settlement.interval_start | date:'MM/yyyy' }}</span>
				</td>
                <td>
                    <span>{{ settlement.balances[0].debtor.display_name }}</span><span>→</span><span>{{ settlement.balances[0].creditor.display_name }}</span>
                </td>
				<td class="text-center" style="vertical-align: middle;">
					<span>{{ settlement.booking_date | date:'dd.MM.yyyy' }}</span>
				</td>
				<td class="text-right" style="vertical-align: middle;">
					<span style="white-space: nowrap;">{{ settlement.balances[0].amount.value / 100 | number:2 }} EUR</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
		
	</div>
</nav>
