<div class="container">
	<div class="row">
		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">User</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                        <label for="user.email" class="col-sm-3 control-label">E-Mail (Login)</label>
                                                        <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="user.email" data-ng-model="user.email">
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="user.full_name" class="col-sm-3 control-label">Full Name</label>
                                                        <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="user.full_name" data-ng-model="user.full_name">
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="user.display_name" class="col-sm-3 control-label">Display Name</label>
                                                        <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="user.display_name" data-ng-model="user.display_name">
                                                        </div>
                                                </div>
						
                                                <div class="form-group" data-ng-show="mode === 'add'">
							<label for="user.password" class="col-sm-3 control-label">Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="user.password" data-ng-model="user.password">
							</div>
                                                </div>
                                                <div class="form-group">
							<label for="user.groups" class="col-sm-3 control-label">Groups</label>
							<div class="col-sm-9">
								<label ng-repeat="group in groups">
									<input type="checkbox" name="selectedGroups[]" value="{{group._id}}" ng-checked="user.groups.indexOf(group._id) > -1" ng-click="toggleGroupSelection(group._id)"
									> {{group.name}}
								</label>
							</div>
                                                </div>
						<div class="form-group">
							<label for="user.roles" class="col-sm-3 control-label">Roles</label>
							<div class="col-sm-9">
								<label ng-repeat="(roleName,enabled) in roles">
									<input type="checkbox" ng-model="roles[roleName]" /> {{roleName}}
								</label>
							</div>
                                                </div>
						<hr/>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button data-ng-show="mode === 'edit'" type="submit" ng-click="update()" class="btn btn-danger">Change user</button>
								<button data-ng-show="mode === 'add'" type="submit" ng-click="add()" class="btn btn-danger">Add user</button>
								<button type="reset" ng-click="reset()" class="btn btn-default">Dischard changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="panel panel-default" data-ng-show="mode === 'edit'">
				<div class="panel-heading">
					<h3 class="panel-title">Change password</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="newPassword" class="col-sm-3 control-label">New password</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="newPassword" data-ng-model="newPassword">
							</div>
						</div>
						<hr/>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" ng-click="updatePassword()" class="btn btn-danger">Change password</button>
								<button type="reset" ng-click="resetPasswordField()" class="btn btn-default">Dischard changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">User</h3>
				</div>
				<div class="panel-body">
					<div data-ng-show="user.full_name" class="h4">{{ user.full_name }}</div>
					<div data-ng-show="user.display_name">Display name: {{ user.display_name }}</div>
					
					<div data-ng-show="user._id">ID: {{ user._id }}</div>
                                        <div data-ng-show="user.email">E-Mail (Login): {{ user.email }}</div>
                                        
                                        <div data-ng-show="user.groups">Groups:
						<ul>
							<li data-ng-repeat="group_id in user.groups">{{ getGroupById(group_id).name }}</li>
						</ul>
					</div>
					<div>Roles:
						<ul>
							<li data-ng-repeat="role in getActivatedRoles()">{{ role }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>