<!doctype html>
<html ng-app="crabber">
	<head>
		<title>Crabber</title>
		<base href="/"/>
		
		<!-- Basics -->
		<script src="/jquery/dist/jquery.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
		
		<!-- Angular JS core -->
		<script src="/angular/angular.js"></script>
		<script src="/angular-i18n/angular-locale_de-de.js"></script>
		<script src="/angular-animate/angular-animate.js"></script>
		<script src="/angular-route/angular-route.js"></script>
		<script src="/angular-resource/angular-resource.js"></script>
		<script src="/angular-cookies/angular-cookies.js"></script>
		<script src="/angular-sanitize/angular-sanitize.js"></script>
		
		<!-- Angular UI extensions -->
		<script src="/angular-ui-utils/ui-utils.js"></script>
		<script src="/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/angular-ui-select/dist/select.js"></script>
		<link rel="stylesheet" href="/angular-ui-select/dist/select.css">
		<script src="/angular-ui-sortable/sortable.js"></script>

		<!-- Angular UI Bootstrap integration -->
		<script src="/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>

		<!-- Angular Loading Bar -->
		<script src="/angular-loading-bar/build/loading-bar.js"></script>
		<link rel="stylesheet" href="/angular-loading-bar/build/loading-bar.css">
		
		<!-- bootstrap-multiselect -->
		<script src="/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
		<link rel="stylesheet" href="/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
		
		<!-- Moment -->
		<script src="/moment/min/moment.min.js"></script>
		<script src="/moment/locale/de.js"></script>
		<script src="/angular-moment/angular-moment.js"></script>
		
		<script src="/application.js"></script>
		<script src="/services/api.js"></script>
		
		<script src="/controllers/LoginController.js"></script>
		<script src="/controllers/LogoutController.js"></script>
		<script src="/controllers/DashboardController.js"></script>
		<script src="/controllers/BookingListController.js"></script>
		<script src="/controllers/BookingDetailController.js"></script>
		<script src="/controllers/UserListController.js"></script>
		<script src="/controllers/UserDetailController.js"></script>
		<script src="/controllers/ReportsController.js"></script>
        <script src="/controllers/SettlementListController.js"></script>
		<script src="/controllers/SettlementDetailController.js"></script>
        
        <script src="/config.js"></script>
		
		<!-- Crabber CSS -->
		<link rel="stylesheet" href="/assets/css/crabber.css">
	</head>
	<body>
		<header>
			<nav class="navbar" style="margin-bottom: 0;" role="navigation">
				<div class="container">
					<a class="navbar-brand" href="/">
						Crabber
					</a>
					<ul class="nav navbar-nav">
						<li><a href="/bookings">Bookings</a></li>
						<li><a href="/reports">Reports</a></li>
                        <li><a href="/settlements">Settlements</a></li>
                        <li><a href="/users">Users</a></li>
						<!--<li><a href="/groups">Groups</a></li>-->
						<!--<li><a href="/tagModificators">Tag Modificators</a></li>-->
					</ul>
					<p class="navbar-text navbar-right" data-ng-show="full_name">
						Signed in as <a href="#" class="navbar-link">{{ full_name }}</a> (<a href="/logout" class="navbar-link">Logout</a>)
					</p>
				</div>
			</nav>
		</header>

		<div data-ng-view></div>
	</body>
</html>