.tag {
	margin: 0 2px;
	padding: 0 5px;
	border-radius: 3px;
	color: #336479;
	white-space: nowrap;
	background-color: #e8f0f8;
}

.reportTable th {
	padding: 0.5em 1em;
}

.reportTable tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;	
}